<ion-view view-title="Afisha" align-title="center">
<ion-content ng-controller="ArticlesCtrl">
    <div class="block-header">
        <h2>Последние новости</h2>
    </div>
    <ion-refresher
            pulling-text="Потяни, чтобы обновить"
            on-refresh="refreshListItems()">
    </ion-refresher>
    <ion-list >
        <ion-item class="feed-item" ng-repeat="article in articles" ui-sref="article({articleId: {{article.id}}})" href="#/article/{{article.id}}">

            <div class="media-left">
                <img style="background-color: rgb({{ article.background[0] }},
                                                  {{ article.background[1] }},
                                                  {{ article.background[2] }}
                                                  )" ng-src="{{article.thumb}}">
            </div>
            <div class="media-body">
                <h3>{{article.title}}</h3>
            </div>

        </ion-item>

    </ion-list>
    <ion-infinite-scroll ng-if="!disableLoadMore" immediate-check="true" on-infinite="loadMoreItems()" distance="1%" ></ion-infinite-scroll>
</ion-content>
</ion-view>