/*sprite*/
.Loyalty .B_header h1 > a em, .Loyalty .B_header h2 > a em, .Loyalty .B_header h3 > a em,
.Afisha .B_header h1 > a em, .Afisha .B_header h2 > a em, .Afisha .B_header h3 > a em,
.Cards .B_header h1 > a em, .Cards .B_header h2 > a em, .Cards .B_header h3 > a em{
    background-image: url(/images/framework2/block/sprite.png);
    background-repeat: no-repeat;
}
/*end:sprite*/

/*Blocks*/

/*Lady*/
/*Block*/
.Lady main .Block{
    background: url("/lady/images/line_1.png") repeat-x left top;
    margin-bottom: 20px;
    padding-top: 10px;
    box-sizing: content-box;
}
.Lady main .div:last-child{
    background: none;
    margin-bottom: 0;
    padding-top: 0;
}


.Lady .Block .B_header h3,
.Lady .Block .B_header h3 a {
    font-family: 'HeliosCondRegular';
    color:#2c2c2c;
    font-weight:normal;
}
.Lady .Block .B_header h3 a:hover {
    color:#d45656;
    text-decoration:underline;
}

.Lady .B_header h3{
    font-size:28px;
    line-height:26px;
}
.Lady main > .col-lg-4 .B_header h3{
    font-size: 26px;
    line-height:24px;
}

.Lady main .Block:first-child{
    background: none;
    padding-top:0;
}
.Lady main .B_header{padding: 0 0 15px;}

.Lady main .Block.comments-v2{
    background: none;
    padding:0;
}
/*end:Block*/
/*end:Lady*/

/*E-motion*/
/*Block*/
.E-motion .Block{
    background: url("/emotion/images/BlockBg_1.png") repeat 0 0;
    margin-bottom: 10px;
    box-sizing: content-box;
}

.E-motion .B_header{
    padding: 16px 20px 16px;
    color: #808080;
}

.E-motion .B_header h3{
    color: #808080;
    font-family: 'OpenSansCondensedBold';
    font-size: 25px;
    line-height: 30px;
    margin-top: -5px;
    text-transform: uppercase;
}

.E-motion .B_inner{
    padding: 0 11px 16px;
    color: #808080;
}

/*end:Block*/
/*end:E-motion*/

/*Glamurchik*/
/*
.Glamurchik .Block .B_header,
.Glamurchik .Block .B_inner{padding: 0 14px}
*/
.Glamurchik .Block .B_header h3.title {
    font-family: georgia, Arial, sans-serif;
    font-size: 22px;
    line-height: 25px;
    color: #5f5f5f;
}
.Glamurchik .Block .B_header h3 a{color: #5f5f5f}
.Glamurchik .Block .B_header h3 a:hover{
    color: #d80084;
    text-decoration: none;
}


.Glamurchik .col-lg-8 .Block{padding-bottom: 27px; box-sizing: content-box;}
.Glamurchik .col-lg-8 .Block.banner.vertical:first-child{padding-bottom: 0}
.Glamurchik .col-lg-8 .lines.type{margin-bottom: 27px}
.Glamurchik .col-lg-8 .lines.type.mb15{margin-bottom: 15px}


/*.column.small*/
.Glamurchik .col-lg-4 .Block .B_header>h3.title {text-transform: uppercase;}
.Glamurchik .col-lg-4 .B_header,
.Glamurchik .col-lg-4 .B_inner{padding: 0}

.Glamurchik .Block h3 {
    color: #5F5F5F;
    font-size: 22px;
    margin-bottom: 14px;
    font-family: Arial, sans-serif;
    margin-top: -2px;
}

.Glamurchik .col-lg-4 .Block {
    border-top: 1px dotted #cfcfcf;
    padding-top: 16px;
    padding-bottom: 14px;
    box-sizing: content-box;
    }
    .Glamurchik .col-lg-4 .Block h3{
        font-size: 18px;
        text-transform: uppercase;
    }
.Glamurchik .col-lg-4 .Block:first-child {
    border-top: none;
    padding-top: 0;
}

/*.column.small*/

.Glamurchik .Block{background-color: #ffffff}
.Glamurchik .col-lg-8 .Block{padding-bottom: 18px}
.Glamurchik .Zeroing {background-color: inherit}

.Glamurchik .Zeroing .B_header, 
.Glamurchik .B_header.Zeroing {
    background-color: inherit;
    padding: 0;
}

.Glamurchik .Zeroing .B_inner,
.Glamurchik .B_inner.Zeroing {
    padding: 0;
    background-color: inherit;
}

/*end:Glamurchik*/
/*Blogs*/
/*Block*/
.Blogs .Block:first-child{
    background: none;
    padding-top: 0;
}

.Blogs .Block{
    background: url("/lady/images/line_1.png") repeat-x left top;
    margin-bottom: 20px;
    padding-top: 20px;
    box-sizing: content-box;
}
.Blogs .B_header{padding:0 0 10px}
.Blogs .column .B_header h3{
    font-size: 24px;
    line-height: 23px;
    font-family: 'HeliosCondRegular';
}

.Blogs .column .Block.comments-v2{
    border: none;
}
/*end:Block*/
/*end:Blogs*/

/* Travel */
body .Travel .NavButtons a,
body .Travel .Rss, .Travel .Rss,
.Travel .NavButtons a, .Travel .DD_Button{
    background-image: url("/images/framework/gSpriteTravel.png");
}

.Travel .Block {
    background-color: #eeeeee;
    border: none;
    margin: 0 0 15px;
    box-shadow: none;
    border-radius:0;
    box-sizing: content-box;
}

.Travel .B_header{
    border-top: 1px solid #58B8D8;
    height: 31px;
    padding: 0 10px;
    background-color: #0A5E9C;

    background: -moz-linear-gradient(top, #0A83B5 0%, #0A5E9C 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0A83B5), color-stop(100%, #0A5E9C));
    background: -webkit-linear-gradient(top, #0A83B5 0%, #0A5E9C 100%);
    background: -o-linear-gradient(top, #0A83B5 0%, #0A5E9C 100%);

    background: linear-gradient(to bottom, #0A83B5 0%, #0A5E9C 100%)
}

.Travel .B_header h1, .Travel .B_header h3{
    float: left;
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 -1px 0 #4291BC;

}
.Travel .B_header h1 a, .Travel .B_header h3 a{
    color: #ffffff;
    background-position: right -58px;
}
.Travel .B_header h1 a:hover,
.Travel .B_header h3 a:hover{color: #e5e5e5}

.Travel .B_inner {
    border-radius: 0;
    /*border-top: 1px solid #DDDDDD;*/
    padding: 10px;
}

/*NavButtons*/
.Travel .NavButtons{
    float: right;
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 #4291BC;
}
.Travel .NavButtons a {
    display: inline-block;
    width: 19px; height: 19px;
    margin-left: 9px;
    vertical-align: -4px;
}
.Travel .NavButtons .BtnNext {
    background-position: -19px 0;
    margin-left: 3px;
}
.Travel .NavButtons .BtnNext:active {
    background-position: -19px -38px;
}
.Travel .NavButtons .BtnPrev:hover {
    background-position: 0 -19px;
}
.Travel .NavButtons .BtnPrev:active {
    background-position: 0 -38px;
}
.Travel .Polls.widget{
    font-family: 'Arial', Helvetica, sans-serif;
}
.Travel .Polls.widget .B_inner{
    padding: 0;
}
.Travel .Polls.widget h4{
    background-color: #2d9ac9;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.Travel .Polls.widget .box{
    color: #000000;
    background: #f7f7f7;
}
.Travel .Polls.widget .box .question:hover{
    cursor: pointer;
}
.Travel .Polls.widget .box .question:hover>span{
    color: #005d9f;
}
.Travel .Polls.widget div.formst.radioForm{
    border: 2px solid #c4c4c4;
}
.Travel .Polls.widget label:hover div.formst.radioForm {
    border: 2px solid #5f99c7;
}
.Travel .Polls.widget div.formst.radioForm.active{
    background-image: none;
    background-color:#5f99c7;
    border: 2px solid #5f99c7;
    box-shadow: none;
}
.Travel .Polls.widget .box.result .question{
    background: #c4d4e2;
}
.Travel .Polls.widget .box.result .question > span{
    color: #f5f5f5;
}
.Travel .rating.default div{
    background:url("../../images/gui/ratings/poll-pattern.png");
    background-repeat: repeat;
}
.Travel .Polls.widget .box.result .bt{
    margin: 10px auto 5px;
}
.Travel .bt.middle.poll-blue{
    background: #2d9ac9;
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px auto 5px;
}
.Travel .bt.middle.poll-blue:hover{
    background: #32a7da;
}
.Travel .bt.middle.poll-blue:active{
    background: #2d9ac9;
    border-top: 1px solid #247ca2;
    border-left: 1px solid #247ca2;
    width: 122px;
    height: 31px;
    line-height: 31px;
    padding-left: 10px;
}




.Travel .polls-box,
.Travel .LeftTools{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
}
.Travel .polls-box label{
    display: block;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 12px;
    width: 320px;
}
.Travel .polls-box label:hover{
    cursor: pointer;
}
.Travel .polls-box label:hover>span{
    color: #005d9f;
}
.Travel .polls-box div.formst.radioForm{
    float: left;
    margin:1px 11px 11px 0;
    border: 2px solid #c4c4c4;
    width: 10px;
    height: 10px;
}
.Travel .polls-box label:hover div.formst.radioForm {
    border: 2px solid #5f99c7;
    background: none;
}
.Travel .polls-box div.formst.radioForm.active {
    background: #5f99c7;
    border: 2px solid #5f99c7;
    box-shadow: none;
}
.Travel .polls-box .bt.normal.poll-blue{
    background: #2d9ac9;
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 41px;
    padding: 5px 10px;
    width: 125px;
    height: 24px;
}
.Travel .polls-box .bt.normal.poll-blue.hover{
    background: #32a7da;
}
.Travel .polls-box .bt.normal.poll-blue:active {
    background: #2d9ac9;
    border-top: 1px solid #247ca2;
    border-left: 1px solid #247ca2;
    line-height: 31px;
    width: 124px;
    height: 23px;
    padding-top: 2px;
    padding-bottom: 8px;
}

.Travel .Article .polls-box.result .box .title{
    font-size: 14px;
}
.Travel .box .rating.pink-oblique{
    background: #e1e9f0;
}
.Travel .rating.pink-oblique div{
    background-position: 0 -186px;
}
.Travel .Article .polls-box.result .box .count{
    width: 35px;
    height: 13px;
    background: #e45700;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 4px 0;
    position: relative;
}
.Travel .Article .polls-box.result .box .count .pointer{
    position: absolute;
    top: 10px;
    left: -13px;
    border: 4px solid transparent;
    border-right: 9px solid #e45700;
    width: 0;
    height: 0;
}
/* end Travel */

/*Afisha*/
    /*Block*/
    .Afisha .Block {margin-bottom: 15px; box-sizing: content-box;}
        .Afisha .B_header {
            padding: 10px 10px 2px;
            background-color: #f1f2f2;
        }
        .Afisha .B_inner {
            padding: 10px;
            background-color: #f1f2f2;
        }

    
    .Afisha .Zeroing {background-color: inherit}
        .Afisha .Zeroing .B_header, .Afisha .B_header.Zeroing {
            background-color: inherit;
            padding: 0 10px 12px;
        }
        .Afisha .Zeroing .B_inner, .Afisha .B_inner.Zeroing {
            padding: 0;
            background-color: inherit;
        }

    .Afisha .B_header h1,
    .Afisha .B_header h2,
    .Afisha .B_header h3 {
        font-family: 'GillSans';
        font-size: 24px;
        line-height: 24px;
        color: #192125;
        text-shadow: none;
        margin: 0;
    }
    .Afisha .B_header h1 > a,
    .Afisha .B_header h2 > a,
    .Afisha .B_header h3 > a{color: #192125}
    .Afisha .B_header h3 > a{font-size: 22px}
        .Afisha .B_header h1 > a em,
        .Afisha .B_header h2 > a em,
        .Afisha .B_header h3 > a em{
            display: inline-block;
            width: 9px; height: 12px;
            background-position: -9px 0;
            margin-left: 7px;
        }
    /*end:Block*/
/*end:Afisha*/

/*Contests*/
    /*Block*/
    .Contests .column.middle .Block:first-child,
    .Contests .column.small .Block:first-child {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
    .Contests .Block {
        border-top: 1px solid #DADADA;
        box-sizing: content-box;
    }

    .Contests .column.middle .Block {
        margin-top: 20px;
        padding-top: 11px;
    }

    .Contests .column.small .Block {
        margin-top: 14px;
        padding-top: 14px;
    }

    .Contests .B_header {
        padding: 10px 10px 6px;
        background-color: #F5F5F5;
    }
    .Contests .B_inner {
        padding: 10px;
        background-color: #F5F5F5;
    }

    .Contests .Zeroing {background-color: inherit}
    .Contests .Zeroing .B_header, .Contests .B_header.Zeroing {
        background-color: inherit;
        padding: 0 10px 16px;
    }
    .Contests .Zeroing .B_inner, .Afisha .B_inner.Zeroing {
        padding: 0;
        background-color: inherit;
    }

    .Contests .B_header h1,
    .Contests .B_header h2,
    .Contests .B_header h3 {
        font-family: 'GillSans';
        float: left;
        font-size: 24px;
        line-height: 24px;
        color: #192125;
        text-shadow: none;
    }
    .Contests .B_header h1 > a,
    .Contests .B_header h2 > a,
    .Contests .B_header h3 > a{color: #192125}
    .Contests .B_header h1 > a em,
    .Contests .B_header h2 > a em,
    .Contests .B_header h3 > a em{
        display: inline-block;
        width: 9px; height: 12px;
        background-position: -9px 0;
        margin-left: 7px;
    }

    /*end:Block*/
/*end:Contests*/

/*Special-project*/

.Special-project .Block:first-child{
    margin-top: 0;
    box-shadow: none;
}
.Special-project .Block:first-child{padding-top: 5px}
.Special-project .Block{
    margin-top: 16px;
    padding-top: 15px;
    box-shadow: inset 0 7px 2px -5px #DEDEDE;
    box-sizing: content-box;
    }
    .Special-project .B_header{padding: 0 10px 9px 10px;}
        .Special-project .B_header h1{
            position: relative;
            top: -2px;
        }

    .Special-project .B_inner{padding: 6px 10px 5px}

    /*Zeroing*/
    .Special-project .Block.Zeroing .B_inner{padding: 6px 0 10px;}
/*end:Special-project*/

/*Section*/
.Section .marker.reklama{
    position: absolute;
    top: 10px; left: 0;
}

/*end:Section*/

/*Cards*/
/*Block*/
.Cards .Block:first-child {
    padding-top: 0;
    box-shadow: none;
}
.Cards .Block {
    padding-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset 0px 3px 3px -2px #D8D8D8;
    box-sizing: content-box;
}
.Cards .B_header {
    padding: 0 10px 12px;
    /*background-color: #f1f2f2;*/
}
.Cards .B_inner {
    padding: 10px;
    background-color: #f1f2f2;
}

.Cards .Block.border .B_inner {
    background-color: inherit;
    border: 1px solid #F5F5F5;
    margin: -1px;
}

.Cards .Zeroing {background-color: inherit}
.Cards .Zeroing .B_header, .Cards .B_header.Zeroing {
    background-color: inherit;
}
.Cards .Zeroing .B_inner, .Cards .B_inner.Zeroing {
    padding: 0;
    background-color: inherit;
}

.Cards .B_header h1,
.Cards .B_header h2,
.Cards .B_header h3 {
    font-family: 'GillSans';
    float: left;
    font-size: 24px;
    line-height: 24px;
    color: #192125;
    text-shadow: none;
    margin-top: -4px;
}
.Cards .B_header h1 > a,
.Cards .B_header h2 > a,
.Cards .B_header h3 > a{color: #192125}
.Cards .B_header h3 > a{font-size: 22px}
.Cards .B_header h1 > a em,
.Cards .B_header h2 > a em,
.Cards .B_header h3 > a em{
    display: inline-block;
    width: 9px; height: 12px;
    background-position: -9px 0;
    margin-left: 7px;
}
.Cards .B_header h1 > a:hover,
.Cards .B_header h2 > a:hover,
.Cards .B_header h3 > a:hover{text-decoration: underline}
/*end:Block*/
/*end:Cards*/

/*Loyalty*/
.Loyalty .Block:first-child {
    padding-top: 0;
    box-shadow: none;
}
.Loyalty .Block {
    box-shadow: inset 0px 3px 3px -2px #D8D8D8;
    padding-top: 11px;
    margin-bottom: 15px;
    box-sizing: content-box;
}
.Loyalty .B_header {
    padding: 10px 10px 2px;
}

.Loyalty .Zeroing .B_header,
.Loyalty .B_header.Zeroing {
    background-color: inherit;
    padding: 0 10px 12px;
}

.Loyalty .B_inner {
    padding: 10px;
}

.Loyalty .Zeroing {background-color: inherit}

.Loyalty .Zeroing .B_inner, .Loyalty .B_inner.Zeroing {
    padding: 0;
    background-color: inherit;
}

.Loyalty .B_header h1,
.Loyalty .B_header h2,
.Loyalty .B_header h3 {
    font-family: 'GillSans';
    float: left;
    font-size: 24px;
    line-height: 24px;
    text-shadow: none;
}
.Loyalty .B_header h1 > a,
.Loyalty .B_header h2 > a,
.Loyalty .B_header h3 > a{color: #192125}
.Loyalty .B_header h1 > a em,
.Loyalty .B_header h2 > a em,
.Loyalty .B_header h3 > a em{
    display: inline-block;
    width: 9px; height: 12px;
    background-position: -9px 0;
    margin-left: 7px;
}
.Loyalty .B_header h1 > a:hover,
.Loyalty .B_header h2 > a:hover,
.Loyalty .B_header h3 > a:hover{text-decoration: underline}
/*end:Loyalty*/
