/*li*/
.li-group{
    display: inline-block;
    width: 100%;
}

.li-group>li{
    float: left
}

/*types of li-group*/

/*li4*/
.li-group.li4{
    margin: 0 -7px;
}

.li-group.li4>li{
    margin: 0 7px 7px;
    width: 142px;
}

/*Glamurchik*/
/*li4*/
.Glamurchik .li-group.li4{
    margin: 0 -7px;
}
.Glamurchik .li-group.li4>li{
    margin: 0 7px 7px;
    width: 142px;
}
/*end:Glamurchik*/


.Li6, .Li5, .Li4, .Li3, .Li2, .Li1{
    display: block;
    position: relative;
    }
    .LiCol, .LiCol2{
        float: left;
        min-height: 1px;
    }

.column.middle .Li2{margin: -5px}
    .column.middle .Li2 .LiCol{
        width: 315px;
        margin: 5px;
        }
        .column.middle .Li2 .preview-box .text h4{padding-top: 5px}

.column.small .Li2{margin: -4px}
    .column.small .Li2 .LiCol{
        width: 157px;
        margin: 4px;
        }
        .column.small .Li2 .preview-box .image{
                width: 157px; min-height: 110px;
            }


.middle .Zeroing .Li2{margin: -10px}
    .middle .Zeroing .Li2 .LiCol{
        width: 320px;
        margin: 10px;
    }

.Li3{margin: -5px 0 0 -5px}
    .Li3 .LiCol{
        width: 210px;
        margin: 5px 0 0 5px
    }
    .Li3 .preview-box .text h4{padding-top: 5px}

.Zeroing .Li3{margin: -15px 0 0 -15px}
    .Zeroing .Li3 .LiCol{margin: 15px 0 0 15px}

.Li4{margin: -4px 0 0 -4px}
    .Li4 .LiCol{
        width: 157px;
        margin: 4px 0 0 4px
        }
        .Li4 .preview-box .image{
            width: 157px; min-height: 110px;
        }
        .Li4 .preview-box .text h4{padding-top: 5px}

    .Li4 .LiCol2{
        width: 314px;
        margin: 5px 0 0 5px
        }
        .Li4 .LiCol2 .preview-box .image{
            width: 314px;
            height: 220px;
        }

.Zeroing .Li4{margin: -8px 0 0 -8px}
    .Zeroing .Li4 .LiCol{
        width: 159px;
        margin: 8px 0 0 8px
    }

    .Zeroing .Li4 .preview-box .image{
        width: 159px; height: 120px;
    }
    .Zeroing .Li4 .LiCol2{
        width: 326px;
        margin: 8px 0 0 8px
        }
        .Zeroing .Li4 .LiCol2 .preview-box .image{
            width: 326px;
            height: 240px;
        }

.Li5{margin: 0 -5px}
    .Li5 .LiCol{
        width: 124px;
        margin: 0 5px;
    }
/*is set block padding 10px*/

/*Lady*/
.Lady .Li3 {margin: -15px 0 0 -15px}
    .Lady .Li3 .LiCol {margin: 15px 0px 0 15px}
/*end:Lady*/

/*Cards*/
.Cards .Li3 {
    display: inline-block;
    margin: -5px -10px 0;
    }
    .Cards .Li3 .LiCol {
        width: 200px;
        margin: 5px 10px 10px;
    }
/*end:Cards*/

/*Glamurchik*/
.Glamurchik .Zeroing .Li3{margin: -15px 0 0 -5px}
.Glamurchik .Zeroing .Li3 .LiCol{margin: 15px 0 0 5px}
/*end:Glamurchik*/
