/*ratings (main class for all ratings !don't edit)*/
.rating{
    display: block;
    font-size: 0;
    }
    /*.rating div{}*/
/*end:ratings*/

/*ratings sprite*/
.rating.tochka, .rating.tochka div, .rating.pink-oblique div, .rating.orange-oblique div, .rating.gr-green .count,
.rating.double .count, .rating.stars-orange, .rating.stars-orange div{
    background-image: url(/images/gui/ratings/sprite.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}

/*end:ratings sprite*/

/*ratings types*/
    .rating.default div{height: 20px;}
    .rating.tochka div{height: 13px}
    .rating.middle div{height: 17px;}

    /*double*/
    .rating.double{position: relative}
        .rating.double div{
            height: 20px;
            }
            .rating.double .count{
                background-repeat: no-repeat;
                font-size: 13px;
                color: #ffffff;
                padding-left: 15px;
                margin-top: 2px;
                }
                .rating.double .count.up{
                    background-position: 0 -71px;
                    float: left;
                    margin-left: 5px;
                }
                .rating.double .count.down{
                    background-position: 0 -93px;
                    margin-right: 5px;
                    position: absolute;
                    top: 0; right: 0;
                }
/*end:ratings types*/

/*ratings styles*/

    /*default*/
    .rating.default div{background-color: #e08200}
    /*end:default*/

    /*tochka*/
    .rating.tochka div{background-position: 0 -23px}
    /*end:tochka*/

    /*stars-orange*/
    .rating.stars-orange{background-position: 0 -167px}
        .rating.stars-orange div{
            background-position: 0 -144px;
            height: 13px;
        }
    /*end:stars-orange*/

    /*pink-oblique*/
    .rating.pink-oblique{background-color: #EBEBEB}
        .rating.pink-oblique div{background-position: 0 -46px}
    /*end:pink-oblique*/

    /*pink-oblique*/
    .rating.orange-oblique{background-color: #EBEBEB}
        .rating.orange-oblique div{background-position: 0 -117px}
    /*end:pink-oblique*/


    /*gr-green*/
    .rating.gr-green div{
        min-width: 50px;
        background: #a5eca7;

        background: -moz-linear-gradient(left, #a5eca7 0%, #20a22f 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a5eca7), color-stop(100%,#20a22f));
        background: -webkit-linear-gradient(left, #a5eca7 0%,#20a22f 100%);
        background: -o-linear-gradient(left, #a5eca7 0%,#20a22f 100%);
        background: -ms-linear-gradient(left, #a5eca7 0%,#20a22f 100%);

        background: linear-gradient(to right, #a5eca7 0%,#20a22f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5eca7', endColorstr='#20a22f',GradientType=1 );
    }
    .rating.gr-green .count{
        background-position: 0 -71px;
        background-repeat: no-repeat;
        font-size: 13px;
        color: #ffffff;
        float: right;
        padding-left: 15px;
        margin-right: 5px;
        margin-top: 2px;
        }
    /*end:gr-green*/

    /*gr-green_dark-green*/
    .rating.gr-green_dark div{
        min-width: 36px;

        background: #22661f;

        background: -moz-linear-gradient(left, #22661f 0%, #33992e 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#22661f), color-stop(100%,#33992e));
        background: -webkit-linear-gradient(left, #22661f 0%,#33992e 100%);
        background: -o-linear-gradient(left, #22661f 0%,#33992e 100%);
        background: -ms-linear-gradient(left, #22661f 0%,#33992e 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22661f', endColorstr='#33992e',GradientType=1 );

        background: linear-gradient(to right, #22661f 0%,#33992e 100%);
    }
    /*end:gr-green*/

    /*gr-green_dark-green*/
    .rating.pink-yellow div{
        min-width: 36px;

        background: #DA0080; /* Old browsers */
        background: -moz-linear-gradient(left, #DA0080 1%, #f2aa00 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(1%,#DA0080), color-stop(100%,#f2aa00)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #DA0080 1%,#f2aa00 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #DA0080 1%,#f2aa00 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #DA0080 1%,#f2aa00 100%); /* IE10+ */
        background: linear-gradient(to right, #DA0080 1%,#f2aa00 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DA0080', endColorstr='#f2aa00',GradientType=1 ); /* IE6-9 */
    }
    /*end:gr-green*/

    /*green-red*/
    .rating.green-red{background: #e65555}
        .rating.green-red div{background: #58cc52}
    /*end:gr-green-red*/

/*end:ratings styles*/