/*Recommendation*/
.Recommendation .magic-box{
    float: left;
    margin-top: -23px;
    width: 263px; height: 169px;
    }
    .Recommendation .magic-box.answer .soc-box{
        vertical-align: top;
    }

    /*recommendation-box*/
        .recommendation-box{
            display: block;
            width: 397px;
            float: left;
            }
            .recommendation-box td{
                width: 215px;
                height: 51px;
                }
                .recommendation-box td span.left {
                    margin-right: 10px;
                    text-align: center;
                    vertical-align: middle;
                    width: 44px !important;
                }
                .recommendation-box td a:hover{text-decoration: none}
                .recommendation-box td a span {
                    display: inline-block;
                    font-size: 15px;
                    line-height: 18px;
                    vertical-align: middle;
                    width: 117px;
                    }
                    .recommendation-box td a:hover span {
                        color: #F97E00;
                    }
                .recommendation-box td:nth-child(even){
                    width: 146px;
                    vertical-align: middle;
                    }
                    .recommendation-box td:nth-child(even) a span{
                        width:70px;
                    }

        .recommendation-box .ic-cocktail.orange{
            position: relative;
            top: -5px;
            }

    /*end:recommendation-box*/

    /*magic-box*/
        .magic-box{background-color: #F1F2F2}
            .magic-box h4 {
                font-size: 18px;
                font-weight: bold;
                margin: 0 0 11px;
                text-shadow: 0 1px 0 #fff;
                }
            .magic-box td{
                padding: 18px 23px 12px;
                }
                .magic-box .first-step .box{
                    text-align: center;
                    padding-top:5px;
                }
                .magic-box .last-step .box{
                    width: 136px;
                    float: left;
                    margin-left:6px;
                }
                .magic-box .title{font-size:16px}

            /*magic-answer*/
                .magic-box.answer{
                    vertical-align: top;
                    padding:10px;
                    }
                    .magic-box.answer td{padding: 10px 10px 0}
                    .magic-box.answer tr:first-child td{
                        height: 16px;
                        padding-bottom: 0;
                        }
                        .magic-box.answer tr:first-child td h4 {
                            margin: -5px 0 0;
                        }
                    .magic-box.answer td.box{
                        padding:10px;
                        }
                        .magic-box.answer td.box em{
                            margin-right: 8px
                        }
                        .magic-box.answer td.box .text {
                            display: inline-block;
                            font-size: 15px;
                            font-style: italic;
                            vertical-align: middle;
                            max-width: 163px;
                        }
                    .magic-box.answer .soc-box{
                        height: 42px;
                        padding: 0 10px
                    }
                /*not-joke*/
                .magic-box.answer td.box.not-joke .image{float: left}
                .magic-box.answer td.box.not-joke .text{
                    display: block;
                    font-size: 12px;
                    overflow: hidden;
                    padding-left: 12px;
                    width: 108px;
                }
                /*end:not-joke*/
            /*magic-answer*/
    /*end:magic-box*/

/*end:Recommendation*/

/*Recommendation widget*/
.Recommendation.widget .recommendation-box {width: 280px}
.Recommendation.widget .recommendation-box td:nth-child(2n) a span {width: 67px}
.Recommendation.widget .recommendation-box td:nth-child(2n+1) {width: 165px}
    .Recommendation.widget .recommendation-box td:nth-child(2n+1) a span {width: 85px}

.Recommendation.widget .recommendation-box td:nth-child(2n) {width: 124px}
.Recommendation.widget .recommendation-box td span.left {margin-right: 5px}
/*end:Recommendation widget*/
/*Fix*/
.ie8 .magic-box.answer td.box.not-joke .image{margin-right:10px}
.ie8 .magic-box.answer td.box.not-joke .text{
    padding:0;
    max-width:none;
    width: 110px;
    overflow: hidden;
}

.ie8 .recommendation-box td a span{
    width: 85px;
}