.tochka-video-player {
    display: block;
    position: relative;
    /*width: 100%;*/
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Arial';
    z-index: 2;
}

.tochka-video-player:not(.html5) {
    cursor: pointer;
}

.tochka-video-player .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 183px; 
    height: 127px;
    margin-top: -64px;
    margin-left: -92px;
    border: none;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.3);
    opacity: 0.8;
}

.tochka-video-player:hover .btn-play {
    opacity: 1;
}

.tochka-video-player video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Ad */
.tochka-video-player .ad {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tochka-video-player .ad .btn-skip {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    padding: 5px 0;
    opacity: 0.8;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}



.tochka-video-player .ad .btn-skip.disabled {
    /*pointer-events: none;*/
    cursor: auto;
    opacity: 0.5;
}


.tochka-video-player .ad .btn-mute {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 10px;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.tochka-video-player .ad .btn-skip:hover,
.tochka-video-player .ad .btn-mute:hover {
    text-decoration: none;
}

.tochka-video-player .ad .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #FFEB3B;
    
    transform: scaleX(0);
    
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            
    -webkit-transition: -webkit-transform 300ms linear;   
       -moz-transition: transform 300ms linear; 
        -ms-transition: transform 300ms linear; 
            transition: transform 300ms linear;        
}




/*----------------------------
* AD mods 
-----------------------------*/


/* Side ad */
.ad-side .ad-side-box {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}